In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import math

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("gender-classifier-DFE-791531.csv")

In [3]:
df1= df[['gender:confidence','text']]

In [4]:
df1

       gender:confidence                                               text
0                 1.0000  Robbie E Responds To Critics After Win Against...
1                 1.0000  ���It felt like they were my friends and I was...
2                 0.6625  i absolutely adore when louis starts the songs...
3                 1.0000  Hi @JordanSpieth - Looking at the url - do you...
4                 1.0000  Watching Neighbours on Sky+ catching up with t...
...                  ...                                                ...
20045             1.0000  @lookupondeath ...Fine, and I'll drink tea too...
20046             1.0000  Greg Hardy you a good player and all but don't...
20047             1.0000  You can miss people and still never want to se...
20048             0.8489  @bitemyapp i had noticed your tendency to pee ...
20049             1.0000  I think for my APUSH creative project I'm goin...

[20050 rows x 2 columns]

In [8]:
df.text

0        Robbie E Responds To Critics After Win Against...
1        ���It felt like they were my friends and I was...
2        i absolutely adore when louis starts the songs...
3        Hi @JordanSpieth - Looking at the url - do you...
4        Watching Neighbours on Sky+ catching up with t...
                               ...
20045    @lookupondeath ...Fine, and I'll drink tea too...
20046    Greg Hardy you a good player and all but don't...
20047    You can miss people and still never want to se...
20048    @bitemyapp i had noticed your tendency to pee ...
20049    I think for my APUSH creative project I'm goin...
Name: text, Length: 20050, dtype: object

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender:confidence  20024 non-null  float64
 1   text               20050 non-null  object
dtypes: float64(1), object(1)
memory usage: 313.4+ KB

In [10]:
#df2 = df1.dropna(axis = 0,inplace=true)
df2 = df1.dropna(how='all')
#df2=df1['gender:confidence'].fillna(df['gender:confidence'].mean(),inplace=True)

In [11]:
df2.info

<bound method DataFrame.info of        gender:confidence                                               text
0                 1.0000  Robbie E Responds To Critics After Win Against...
1                 1.0000  ���It felt like they were my friends and I was...
2                 0.6625  i absolutely adore when louis starts the songs...
3                 1.0000  Hi @JordanSpieth - Looking at the url - do you...
4                 1.0000  Watching Neighbours on Sky+ catching up with t...
...                  ...                                                ...
20045             1.0000  @lookupondeath ...Fine, and I'll drink tea too...
20046             1.0000  Greg Hardy you a good player and all but don't...
20047             1.0000  You can miss people and still never want to se...
20048             0.8489  @bitemyapp i had noticed your tendency to pee ...
20049             1.0000  I think for my APUSH creative project I'm goin...

[20050 rows x 2 columns]>

In [12]:
df1.head()

   gender:confidence                                               text
0             1.0000  Robbie E Responds To Critics After Win Against...
1             1.0000  ���It felt like they were my friends and I was...
2             0.6625  i absolutely adore when louis starts the songs...
3             1.0000  Hi @JordanSpieth - Looking at the url - do you...
4             1.0000  Watching Neighbours on Sky+ catching up with t...

In [13]:
import re
import string

In [23]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt=re.sub(word, "",input_txt)
    return input_txt

In [25]:
word = 'someword'
print(word)

someword

In [26]:
df2['clean_tweet'] = np.vectorize(remove_pattern)(df['text'],'[@\w]*')

TypeError: sub() missing 2 required positional arguments: 'repl' and 'string'

In [17]:
df2.head(20)

,gender:confidence,text,clean_tweet
0,1.0000,Robbie E Responds To Critics After Win Against...,Robbie E Responds To Critics After Win Against...
1,1.0000,���It felt like they were my friends and I was...,���It felt like they were my friends and I was...
2,0.6625,i absolutely adore when louis starts the songs...,i absolutely adore when louis starts the songs...
3,1.0000,Hi @JordanSpieth - Looking at the url - do you...,Hi @JordanSpieth - Looking at the url - do you...
4,1.0000,Watching Neighbours on Sky+ catching up with t...,Watching Neighbours on Sky+ catching up with t...
5,1.0000,"Ive seen people on the train with lamps, chair...","Ive seen people on the train with lamps, chair..."
6,1.0000,@BpackEngineer Thank you for your patience whi...,@BpackEngineer Thank you for your patience whi...
7,1.0000,Gala Bingo clubs bought for �241m: The UK's la...,Gala Bingo clubs bought for �241m: The UK's la...
8,1.0000,@_Aphmau_ the pic defines all mcd fangirls/fan...,@_Aphmau_ the pic defines all mcd fangirls/fan...
9,1.0000,@Evielady just how lovely is the tree this yea...,@Evielady just how lovely is the tree this yea...
10,0.7002,how are you taking care of yourself? https://t...,how are you taking care of yourself? https://t...
11,1.0000,MTG Deals 1x Rank-Up-Magic - The Seventh One -...,MTG Deals 1x Rank-Up-Magic - The Seventh One -...
12,0.6509,Just put my ass on the line for you and this i...,Just put my ass on the line for you and this i...
13,1.0000,https://t.co/z4sbWUugd8 What the Nation Will B...,https://t.co/z4sbWUugd8 What the Nation Will B...
14,0.6501,will i even need sound effects for the diviner...,will i even need sound effects for the diviner...
15,1.0000,https://t.co/EROGWTFTYo It's a glow of satisfa...,https://t.co/EROGWTFTYo It's a glow of satisfa...
16,1.0000,@giannaaa28 lmao _���_��� dude I'm hella scare...,@giannaaa28 lmao _���_��� dude I'm hella scare...
17,1.0000,@coolyazzy94 Ditto - I'm still learning the fa...,@coolyazzy94 Ditto - I'm still learning the fa...
18,1.0000,@CaribBros @JstSaleem I do but I don't underst...,@CaribBros @JstSaleem I do but I don't underst...
19,0.3527,"Me too, saw five lionesses drinking around the...","Me too, saw five lionesses drinking around the..."

In [28]:
df2['clean_tweet'] = df2['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
df2.head()

,gender:confidence,text,clean_tweet
0,1.0000,Robbie E Responds To Critics After Win Against...,Robbie E Responds To Critics After Win Against...
1,1.0000,���It felt like they were my friends and I was...,It felt like they were my friends and I was...
2,0.6625,i absolutely adore when louis starts the songs...,i absolutely adore when louis starts the songs...
3,1.0000,Hi @JordanSpieth - Looking at the url - do you...,Hi JordanSpieth Looking at the url do you...
4,1.0000,Watching Neighbours on Sky+ catching up with t...,Watching Neighbours on Sky catching up with t...

In [29]:
# remove short words
df2['clean_tweet'] = df2['clean_tweet'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
df2.head()

,gender:confidence,text,clean_tweet
0,1.0000,Robbie E Responds To Critics After Win Against...,Robbie Responds Critics After Against Eddie Ed...
1,1.0000,���It felt like they were my friends and I was...,felt like they were friends living story with ...
2,0.6625,i absolutely adore when louis starts the songs...,absolutely adore when louis starts songs hits ...
3,1.0000,Hi @JordanSpieth - Looking at the url - do you...,JordanSpieth Looking IFTTT typically advanced ...
4,1.0000,Watching Neighbours on Sky+ catching up with t...,Watching Neighbours catching with Neighbs

In [31]:
# individual words considered as tokens
tokenized_tweet = df2['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [Robbie, Responds, Critics, After, Against, Ed...
1    [felt, like, they, were, friends, living, stor...
2    [absolutely, adore, when, louis, starts, songs...
3    [JordanSpieth, Looking, IFTTT, typically, adva...
4      [Watching, Neighbours, catching, with, Neighbs]
Name: clean_tweet, dtype: object

In [32]:
# stem the words
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda sentence: [stemmer.stem(word) for word in sentence])
tokenized_tweet.head()

0    [robbi, respond, critic, after, against, eddi,...
1    [felt, like, they, were, friend, live, stori, ...
2    [absolut, ador, when, loui, start, song, hit, ...
3    [jordanspieth, look, ifttt, typic, advanc, use...
4              [watch, neighbour, catch, with, neighb]
Name: clean_tweet, dtype: object

In [34]:
# combine words into single sentence
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = " ".join(tokenized_tweet[i])
    
df2['clean_tweet'] = tokenized_tweet
df2.head()

,gender:confidence,text,clean_tweet
0,1.0000,Robbie E Responds To Critics After Win Against...,r o b b i r e s p o n d c r i t i c a f ...
1,1.0000,���It felt like they were my friends and I was...,f e l t l i k e t h e y w e r e f r i ...
2,0.6625,i absolutely adore when louis starts the songs...,a b s o l u t a d o r w h e n l o u i ...
3,1.0000,Hi @JordanSpieth - Looking at the url - do you...,j o r d a n s p i e t h l o o k i f t t t ...
4,1.0000,Watching Neighbours on Sky+ catching up with t...,w a t c h n e i g h b o u r c a t c h w ...